<div class="w-full">
    <nav class="flex items-center">
        <h1 class="text-2xl text-center">Bupa Australia Coding Test - Solution</h1>
        <div class="p-3">
            <a class="text-black hover:underline" href="">
                Home
            </a>
        </div>

        <div class="p-3">
            <a class="text-black hover:underline" href="books">
                Books
            </a>
        </div>
    </nav>
</div>